body{
    font-size:14px;
    line-height: 1.5;
    font-family: 微软雅黑, serif;
    word-wrap:break-word;
    word-break:break-all;
    background: #fff;
    color: #333;
}
img{
    border:0 none;
    vertical-align:middle}
body,dl,dd,h1,h2,h3,h4,h5,h6,p,form,ul,ol,blockquote{
    margin:0
}
input,select,textarea{
    font-size:14px;
    color:#333
}
input{
    vertical-align:middle;
    padding:2px;
    margin:0
}
table{
    border-collapse:collapse;
    border-spacing:0
}
select,input,button{
    font:14px/20px Verdana,sans-serif;
}
em,i,cite,blockquote{
    font-style:normal
}
ul,ol{
    list-style:none outside;
    padding:0}
textarea{
    overflow-y:auto;
    padding:3px
}
a{
    color:#428bca;
    text-decoration:none;
    outline:0
}
a:hover,a:active{
    color:#2a6496;
    text-decoration:none;
}
a:focus{
    outline:0;
}
button{
    border:0;
    padding:0;
}
figure{
    margin:0
}
article,aside,details,figcaption,figure,footer,header,menu,nav,section{
    display:block
}
/*@font-face{
    font-family:'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight:normal;
    font-style:normal;
}
.icon-fonts {
    font-family:icomoon,sans-serif;
    font-weight:400;
    font-style:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;  }
*/
.top-wrap{
    height:45px;
    line-height:45px;
    background: #151515;
}
.top-inner{
    font-size:18px;
    padding:0 20px;
}
.top-list li a{
    float:left;
    margin-right:5px ;
    padding:0 25px;
    display: inline-block;
    color: white;
    text-shadow:1px 1px 1px #003;
}
.top-list li a:hover{
    background:#343434;
    text-shadow:1px 1px 1px #000;
}
.top-list li .on{
    color:#fff;
    text-shadow:1px 1px 1px #003;
    background:#033b70;
}
.top-right{
    float: right;
}
.top-info-list li{
    float:right ;
    display:inline;
    color: white;
}
.top-info-list li a {
    float:right ;
    margin-left:5px;
    padding:0 25px;
    color: white;



}
.top-info-list a:hover{
    background:#fff;
    color: #333;
    font-weight: 600;
}
.container-wrap{
    width: 100%;

}
.side-wrap {
    float: left;
    width: 189px;
    min-height:100%;
    background: #f2f2f2;
    border-right:1px solid #ccc;
}
.main-wrap{
    float: left;
  /*  margin-left: 190px;*/
    min-height:100%;
    width:1159px;
}
.side-tittle{
    height: 38px;
    line-height: 38px;
    text-indent:2em;
    text-align:left;
    width: auto;
}
.side-tittle h1{
    font-weight: 300;
    font-size: 20px;
    color: #333333;
}
.side-tittle h1 i{
    font-size: 16px;
}
.side-content{
    padding-top: 5px;

}

.side-list li{
    border-width:1px 0;
    border-style: solid;
    border-color: #e5e5e5;
    font-size: 15px;
}
.side-list li a{

    padding: 0 16px 0 20px;
    display: block;
    height: 35px;
    line-height: 35px;
    color: #333;
}
.side-list li a:hover{
    background: #fff;
    color: #1963AA;
}
.sid-menu{
    border-top: 1px solid #e5e5e5;
    background: #ffffff;
}
.sid-menu li{
    border:inherit;
    padding-left: 21px;
}
.side-list li .icon-fonts{
    margin-right: 5px;
    color: #888;
    font-size: 14px;
}
.sid-menu .on{
    background: #1963AA;
}
.sid-menu .on a{
    background: #1963AA;
    color: #fff;
}



.main-top{
    height: 37px;
    line-height: 37px;
    border-bottom: 1px solid #e5e5e5;
    background: #f5f5f5;
    width: auto;
    font-size: 16px;
}
.main-top-list a{
    padding:0 2px 0 2px;
    font-size: 16px;
}
.main-top-list .icon-fonts{
    margin-left:10px;
}

.crumb-step{
    margin: 0 5px;
    color: #b2c2e0;
    font-family: serif;
}
textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{
    background-color:#ffffff;
    border:1px solid #cccccc;
    transition:border linear 0.2s,box-shadow linear 0.2s;
}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus{
    border-color:rgba(82,168,236,0.8);
    outline:thin dotted;
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
}
.insert-tab{
    border-collapse:collapse;
    border:1px solid #eee;}
.insert-tab th,.insert-tab td{border:1px solid #eee;
}
.insert-tab tr{
    line-height:40px;
}
.insert-tab th{
    text-align:right;
    font-weight:normal;
    padding-right:10px;
    font-size:14px;
}
.insert-tab td{
    text-align:left;
    padding-left:10px;
}
.list-page{
    padding:20px 0;
    text-align:center;
}
.list-page a{
    margin:0 5px;
    padding:2px 7px
;border:1px solid #ccc;
    background:#f3f3f3;}
.list-page a:hover{
    background:#e4e4e4;
    border:1px solid #908f8f;
}
.list-page .current{
    margin:0 5px;
    padding:2px 7px;
    background:#f60;
    border:1px solid #fe8101;
    color:#fff;
}

.btn{
    display:inline-block;
    padding:4px 12px;
    margin-bottom:0;
    font-size:14px;
    line-height:20px;
    color:#333333;
    text-align:center;
    text-shadow:0 1px 1px rgba(255,255,255,0.75);
    vertical-align:middle;
    cursor:pointer;
    background-color:#f5f5f5;
    background-image:linear-gradient(to bottom,#ffffff,#e6e6e6);
    background-repeat:repeat-x;
    border:1px solid;
    border-color:#e6e6e6 #e6e6e6 #bfbfbf;
    border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
.btn:hover,.btn:active{
    color:#333333;
    background-color:#e6e6e6;
}
.btn:hover{
    color:#333333;
    text-decoration:none;
    background-position:0 -15px;
    transition:background-position 0.1s linear;
}
.btn:focus{
    outline:thin dotted #333;
    outline-offset:-2px;
}
.btn:active{
    background-image:none;
    outline:0;
    box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
}
.btn-primary{
    color:#ffffff;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    background-color:#006dcc;
    background-image:linear-gradient(to bottom,#0088cc,#0044cc);
    background-repeat:repeat-x;
    border-color:#0044cc #0044cc #002a80;
    border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.btn-primary:hover,.btn-primary:active{
    color:#ffffff;
    background-color:#0044cc;
}
.h1-no{
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: red;
    margin-top: 10px;
}