.search-wrap{
    padding: 15px 0;
    border-bottom: 1px solid #e5e5e5;
}
.search-tab tr{
    line-height: 35px;
}
.search-tab th{
    text-align: right;
    padding-right:10px;
    font-weight: normal;
}
.search-tab td{
    padding: 0 5px;
}
.common-text{
    height: 23px;
    line-height: 23px;
    padding: 2px 4px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius:5px;
}
.result-list a{
    margin-right: 15px;
}
.result-list i{
    padding-right: 5px;
}
.main-content{
    padding:10px 20px;

}
.content-title{
    line-height: 35px;
    padding-bottom: 5px;
    overflow: hidden;
}

.result-tab{
    border-collapse:collapse;
    border: 1px solid #ddd;
}
.result-tab th{
    font-weight: normal;
    font-size: 15px;
    text-align: left;
    background: #f9f9f9 0 bottom repeat-x;
}
.result-tab th,.result-tab td{
    padding:5px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #e1e1e1;
    text-align: center;
}
.result-tab tr{
    line-height: 32px;
}
.result-tab tr.tittle{
    line-height:35px;
}
.result-tab tr:hover{
    background: #f1f1f1;
}

.list-page{
    padding:20px 0;text-align:center;
}
.list-page a{
    margin:0 5px;padding:2px 7px;border:1px solid #ccc;background:#f3f3f3;
}
.list-page a:hover{
    background:#e4e4e4;border:1px solid #908f8f;
}
.list-page .current{
    margin:0 5px;padding:2px 7px;background:#f60;border:1px solid #fe8101;color:#fff;
}
.list-page li{
    margin-top: 8px;
}
.update{
    color:#428bca ;
}
.shunxu{

    float: right;
    margin-right: 50px;
}
.select{
    width: 150px;

}
